@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.minesweeper {
  margin: 0 auto 0 auto;
  width: max-content;
}

.control-panel {
  border: black 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}

.field {
  border: black 1px solid;
  border-radius: 10px;
  /*display: flex;*/
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 20px;
  /*width: 80%;*/
}

.row {
  display: flex;
}

.cell {
  /*flex: 0 0 12.5%;*/
  border: black 1px solid;
  height: 30px;
  width: 30px;
}

.marked {
  border-color: red;
}